.nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__link {
    font-size: 20px;
}
.navbar {
    width: 270px;
    display: flex;
    justify-content: space-between;
}
.logo-title {
    font-size: 30px;
    text-decoration: none;
    color: black;
}